.message {
  border: 1px solid #d0d0d0;
  padding: 10px 15px;
}

.message-notice {
  background: #ffffff;
  border-radius: 0.5rem;
  font-weight: bold;
}

.message-alert {
  background: rgb(157,2,8);
  background: linear-gradient(0deg, rgba(157,2,8,1) 0%, rgba(172,118,118,1) 100%);
  border-radius: 0.5rem;
  font-weight: bold;
  color: #FFFFFF;
}
